name: Build for Mac and Windows

on:
  push:
    branches: [ "main" ] # 当推送到 main 分支时触发

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest] # 这里指定了两个平台

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '1.0' # 指定你的 Python 版本

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Build with PyInstaller
      # 这里把 main.py 换成你的入口文件名
      run: pyinstaller -F -w -n MyApp watermark_gui.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: MyApp-${{ matrix.os }}
        path: dist/
